/* === Global Styles === */
* {
  --primary: hsl(257, 40%, 49%);
  --secondary: hsl(300, 69%, 71%);
  --font-heading: "Poppins", sans-serif;
  --font-body: "Open Sans", sans-serif;
}

html {
  height: 100%;
  background-color: var(--primary);
}

body {
  min-height: 100%;
  background-color: var(--primary);
  background-image: url(../images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* - We change the background image on mobile */
@media screen and (max-width: 375px) {
  body {
    background-image: url(../images/bg-mobile.svg);
    background-size: contain;
  }
}
.container {
  width: 100%;
  height: 100%;
}

/* === HEADER === */
header {
  padding: 2rem;
}

header img {
  width: 130px;
}

@media screen and (min-width: 1440px) {
  body {
    overflow: hidden;
    background-size: contain;
  }

  .container {
    height: 100%;
  }

  header img {
    width: 180px;
  }
}

/* === MAIN CONTENT === */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.content-image {
  text-align: center;
}

.content-image img {
  max-width: 80%;
}

.content-body {
  margin-top: 1rem;
  padding: 0.5rem;
  text-align: center;
  color: #fff;
  line-height: 1.5;
}

h2 {
  font-family: var(--font-heading);
}

p {
  max-width: 600px;
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 400;
}

.register-btn {
  width: 200px;
  background-color: #fff;
  border: 0;
  outline: 0;
  border-radius: 2rem;
  padding: 15px;
  color: var(--primary);
  font-family: var(--font-heading);
  font-size: 0.8rem;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.414);
}

/* === MAIN CONTENT RESPONSIVE === */
@media screen and (min-width: 1440px) {
  .content {
    flex-direction: row;
    margin-top: 5vh;
  }

  .content-image {
    width: 80%;
  }

  .content-image img {
    width: 100%;
  }

  .content-body {
    text-align: left;
    align-self: flex-start;
    justify-self: left;
  }

  h2 {
    font-size: 2.5rem;
  }
}

/* === SOCIAL ICONS === */
.icons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  order: 2;
}

.icons-list {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

@media screen and (min-width: 1440px) {
  .icons-container {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2rem;
  }

  .icons-container p {
    order: 0;
  }

  .icons-list {
    margin-right: 3rem;
  }
}

ul {
  padding: 0;
}

li {
  width: 15px;
  height: 15px;
  border: solid 1px #fff;
  border-radius: 100%;
  padding: 0.5rem;
  color: #fff;
  text-align: center;
  margin-right: 5px;
}

/* === FOOTER === */
.attribution {
  color: #fff;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--secondary);
}
